* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.article-header {
  width: 100%;
  position: relative;
  text-align: center;
}

.article-header-img {
  max-height: 400px;
  width: 100%;
  max-width: 100%;
  position: absolute;
  padding: 0;
}
